@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "Kaushan Script";
  src: url("../font/kaushanscript-regular.woff") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "overpass";
  src: url("../font/overpass-bold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}